<p id="notice"><%= notice %></p>

<%= link_to "Authorize Facebook", "https://www.facebook.com/dialog/oauth?client_id=162741227192307&redirect_uri=http://localhost:3000/auth/facebook&state=#{@user.id}&scope=friends_location" %>

<br/>

<%= link_to "Get Friend List", "/users/get_friends/#{@user.id}" %>


<p>
  <b>Facebook access token:</b>
  <%= @user.facebook_access_token %>
</p>

<p>
  <b>Facebook:</b>
  <%= @user.facebook_id %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<ul>
	<% @friends.each do |friend| %>
		<li><%= image_tag "https://graph.facebook.com/#{friend.facebook_id}/picture" %><%= friend.name %></li>
	<% end %>
</ul>

